.attribute-picker-col {
  margin-bottom: 10px;
}

.builder {
  background-color: #f3f4f4;
  border: 1px solid #9fb9ba;
  padding: 10px !important;
}

.addColumn {
  width: 100%;
}

.decisionColumn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.decisionColumn > * {
  min-width: 120px;
}

td {
  min-width: 300px !important;
}