.conditional-statement {
  padding: 8px 18px !important;
  background-color: #f3f4f4;
  border: 1px solid #9fb9ba;
  margin-bottom: 10px;
}

.output-statement {
  padding: 8px 18px !important;
  background-color: #f1f7f2;
  border: 1px solid #9da69a;
}

.output-statement-item {
  margin-bottom: 0 !important;
}

.conditional-statement-item {
  margin-bottom: 0 !important;
}

.conditional-statement-row {
  margin-bottom: 8px;
} 

.conditional-statement-actions {
  display: flex !important;
  justify-content: space-around;
} 